-#%h3 Home Page HAML
-#%p
-#  = link_to 'Users:', users_path
-#  = User.count
-#  registered

= render :partial => 'shared/visitors_header'

%section#home.overflow-hidden.slider-banner
  .main-slider
    %ul#slider-image.slides
      %li
        %img.img-fluid{:alt => "", :src => "../assets/header02.jpg"}
          .slider-overlay
            .slider-table
              .slider-vm
                .container.text-center
                  %h1.header-bg We are Massa Designs
                  %p.header-bg Creative all in one Digital Image & Photography Solutions
                  %a.btn.btn-lg.btn-white-border{:href => "#agency"} Learn more
          / slider overlay end


%section#agency
  .space-40
  .container
    %h2.center-title.scrollReveal.sr-bottom Who we are
    .center-border
    %div
      / Nav tabs
      %ul.list-inline.text-center.about-tabs.justify-content-center.nav.margin-b-40{:role => "tablist"}
        %li.nav-item{:role => "presentation"}
          %a.nav-link.active{"aria-controls" => "about-agency", "data-toggle" => "tab", :href => "#about-agency", :role => "tab", 'aria-expanded' => 'true'} About
        %li.nav-item{:role => "presentation"}
          %a.nav-link{"aria-controls" => "process", "data-toggle" => "tab", :href => "#process", :role => "tab"} Process
      / Tab panes
      .tab-content
        #about-agency.tab-pane.active{:role => "tabpanel"}
          .row
            .col-md-12.text-center
              %p.lead
                At
                %span.text-color Massa Designs
                our goal is to create stunning images to successfully market your property. We are based in Southwest Florida, established in 2012.  We are a licensed and insured full service company, creating state of the art sales and marketing images of luxury real estate, commercial properties and land.  We utilize the latest technology by offering professional quality digital imaging, custom editing and
                %span.text-color FAA Licensed
                aerial drone photography.  We customize our packages to fit YOUR needs.
                %br
                %br
                Find our work published in numerous local magazines displaying eye catching solutions for any project.
                %br
                %br
                %a.text-color{"data-scroll" => "data-scroll", :href => "#contact"} Contact us
                today for more information about how our design services will improve your business today!

        #process.tab-pane{:role => "tabpanel"}
          .row
            .col-md-3.col-sm-6.margin-b-30
              .process-box
                %h2
                  %span.text-color 1.
                  idea
                %p
                  Whether selling a space or ready to show off your latest interior designs, there are many beautiful spaces ready to be captured.
            .col-md-3.col-sm-6.margin-b-30
              .process-box
                %h2
                  %span.text-color 2.
                  Design
                %p
                  From staging the perfect room to finding the best height to capture that exterior against the sunset, let us prepare your scenes.
            .col-md-3.col-sm-6.margin-b-30
              .process-box
                %h2
                  %span.text-color 3.
                  Develop
                %p
                  Post processing offers us the competitive edge over all others. With the latest digital technologies, we will find your perfect shot!
            .col-md-3.col-sm-6.margin-b-30
              .process-box
                %h2
                  %span.text-color 4.
                  Launch
                %p
                  Hosted virtual tours and downloadable print quality images allow you to upload final images directly into your MLS or other database.
        / tab panel end
      / tab content end
  / container end
  .space-40
/ end about section

.dzsparallaxer.auto-init.dzsprx-readyall{"data-options" => "{   direction: \"reverse\"}", :style => "height: 350px;"}
  .divimage.dzsparallaxer--target{:style => "width: 101%; height: 600px; background-image: url(/assets/video_thumbnail-min.png); transform: translate3d(0px, -148.236px, 0px);"}
  .parallax-text.text-center.center-it
    %h2 Watch Aerial 4K Video Tour
    %a.video-link{"data-target" => "#video-popup", "data-toggle" => "modal", :href => "#"}
      %i.ion-ios-play-outline

%section#work
  .space-50
  .work-header
    .container
      %h2.center-title.person-col.text-black Portfolio
      .center-border
      %p.text-center.margin-b-20.text-black The smallest glimpse of what is possible...

  -# **** Portfolio ****
  -# Thumbnail Dimensions:  342 x 228
  -# Full Size Dimensions: 2400 x 1600

  .container{:style => 'text-align:center;width:100% !important;'}
    .row
      .col-4.col-md-4
        %a.mb-4{'data-fancybox' => 'images', 'data-caption' => 'Architectural Photography', :href => '/assets/portfolio/x-large/massa-designs-portfolio-5.jpg'}
          %img.img-fluid{:src => '/assets/portfolio/small/massa-designs-portfolio-5.jpg'}
      .col-4.col-md-4
        %a.mb-4{'data-fancybox' => 'images', 'data-caption' => 'Architectural Photography', :href => '/assets/portfolio/x-large/massa-designs-portfolio-6.jpg'}
          %img.img-fluid{:src => '/assets/portfolio/small/massa-designs-portfolio-6.jpg'}
      .col-4.col-md-4
        %a.mb-4{'data-fancybox' => 'images', 'data-caption' => 'Architectural Photography', :href => '/assets/portfolio/x-large/massa-designs-portfolio-7.jpg'}
          %img.img-fluid{:src => '/assets/portfolio/small/massa-designs-portfolio-7.jpg'}
    #loading-portfolio Still Loading
  #more-data-portfolio

.space-40

.dzsparallaxer.auto-init{"data-options" => "{   direction: \"reverse\"}", :style => "height: 350px;"}
  .divimage.dzsparallaxer--target{:style => "width: 101%; height: 600px; background-image: url('/assets/1575628.jpg')"}
  .parallax-text.text-center.center-it
    .testi-slider
      %ul.slides
        %li
          %h1{:style => "color:#fff;    text-transform: uppercase;     letter-spacing: 7px;     text-align: center;     font-weight: 400;     font-size: 1.8rem;     margin-bottom: 25px;"} REVIEWS
          %i.ion-quote
          %p
            " Great photos produced, I was able to really bring out the best aspects of my listing with Massa Designs. "
          %h5
.space-50

/ start services
%section#services
  .space-40
  .container
    .row
      .col-sm-12.margin-b-50
        %h2.center-title What we do
        .center-border
    / row end
    .row
      .col-md-12
        %ul.row.list-unstyled.services-list
          %li.col-md-6.clearfix
            %i.ion-ios-camera-outline
            .content
              %h4 Photography
              %p
                Massa Designs combines professional digital photography with high quality editing to capture the best of each dynamic scene.
          / service col end with li
          %li.col-md-6.clearfix
            %img{:src => '/assets/drone-icon-shape-vector-isolated-white-background-black-copter-silhouette-monochrome-flat-pictogram.png', :style => 'float: left;margin-right: 20px;width: 60px;height: 60px;text-align: center;line-height: 60px;font-size: 35px;'}
            .content
              %h4 Aerial Photographs
              %small.text-color FAA Certified
              %p
                Welcome to the era of flying cameras, utilizing the latest 4K ultra high quality imaging and videos from above for the ultimate view of your property.
          / service col end with li
          %li.col-md-6.clearfix
            %i.ion-monitor
            .content
              %h4 Digital Design
              %p
                We utilize revolutionary post processing and the highest quality digital editing providing our clients with visuals that maximize your property
          / service col end with li
          %li.col-md-6.clearfix
            %i.ion-images
            .content
              %h4 Virtual Tour
              %p
                Display your finished product on a hosted unique website dedicated to you for cinematic representation for your listed property.
          / service col end with li
          %li.col-md-6.clearfix
            %i.ion-ios-videocam-outline
            .content
              %h4 Video Walk Through
              %p
                Allow us to create the perfect video walk through combining aerial photography, stabilized video and frame transitioning for the ultimate video product.
          / service col end with li
          %li.col-md-6.clearfix
            %i.ion-android-apps
            .content
              %h4 Listing Portfolio
              %p
                Working with multiple clients? Gather all of your properties and details in one place to assist your potential clients to find their perfect new home.

.space-50

/ start virtual staging
%section#virtual-staging
  .space-40
  .container{:style => 'text-align:center;width:100% !important;'}
    .row
      .col-sm-12.margin-b-50
        %h2.center-title 3D Virtual Reality Staging
        .center-border
        %p Allow our team of expert designers to customize an aesthetically pleasing digital decor and furniture design using the latest in 3D Virtual Reality Staging which will completely enhance the look and feel of any interior space.
      .col-6.col-md-12.col-sm-12.col-lg-6{:style => 'padding: 0;'}
        #virtualstaging1{:style => 'text-align:center;margin: auto; max-width: 1024px;'}
          %img{:src => '/assets/portfolio/small/virtual-staging-1-before.jpg'}
          %img{:src => '/assets/portfolio/small/virtual-staging-1-after.jpg'}
      .col-6.col-md-12.col-sm-12.col-lg-6{:style => 'padding: 0;'}
        #virtualstaging2{:style => 'text-align:center;margin: auto; max-width: 1024px;'}
          %img{:src => '/assets/portfolio/small/virtual-staging-2-before.jpg'}
          %img{:src => '/assets/portfolio/small/virtual-staging-2-after.jpg'}
    #loading-comparision Still Loading
  #more-data-comparision
    
.space-50

/ contact start
%section#contact.contact-section{:style => 'background-image: url("/assets/1575628.jpg");'}
  .space-100
  .container
    .row.margin-b-50
      .col-sm-12.scrollReveal.sr-bottom
        %h2.center-title.white-text Book an Appointment
        .center-border
    / row
    .row
      .col-md-7.offset-md-1.margin-b-30
        %form.xone-contact{:onsubmit => 'return false;'}
          .row
            .col-sm-6
              .margin-b-20
                %input#name.form-control{:name => "name", :placeholder => "Full Name....", :type => "text"}/
              .margin-b-20
                %input#email.form-control{:name => "email", :placeholder => "Email Address....", :type => "text"}/
              .margin-b-20
                %input#phone.form-control{:name => "phone", :placeholder => "Mobile Phone....", :type => "text"}/
            .col-sm-6
              .margin-b-20
                %input#address.form-control{:name => "address", :placeholder => "Location Address....", :type => "text"}/
              .margin-b-20
                %input#city.form-control{:name => "city", :placeholder => "Location City ....", :type => "text"}/
              .margin-b-20
                %input#zipcode.form-control{:name => "zipcode", :placeholder => "Location Zip Code....", :type => "text"}/
          .row
            .col-sm-12
              %textarea#description.form-control.margin-b-20{:name => "message", :placeholder => "Preferred day and time and any meeting details such as owner lockbox or entry instructions....", :rows => "5"}
          .row
            .col-sm-12.text-center
              #status
          .row
            .col-sm-12.text-center
              %button#send.btn.btn-lg.btn-skin-border.btn-block.margin-b-20{:name => "submit", :style => 'cursor: pointer;'} Send Message
        / form end
      / form col end
      .col-md-3.scrollReveal
        .contact-details
          %p.lead
            %h4.center-title.white-text{:style => 'text-transform: capitalize;'} Contact Details
            .center-border
          %p.lead.white-text{:style => 'text-align:center;'}
            -#%h4.white-text Massa Designs
            %img{:alt => 'Massa Designs logo', :src => '/assets/massa_designs_logo.png', :style => 'width:200px;'}
            .white-text We create professional high definition digital imagery utilizing state of the art technology, contact us for more info!
            %br
            .white-text Licensed and insured - Serving all of South West Florida
            %br
            %h4
              %i.ion-iphone.white-text
              %a{:href => 'tel:+19412000061'} &nbsp;(941) 200-0061
          %p.lead
            %i.ion-email.white-text
            %a{:href => 'mailto:Support@MassaDesigns.com', :style => 'font-size: 16px;'} &nbsp;Support@MassaDesigns.com

  .space-40
  / Google Map
  %section#map
    / Google Map ID
    #google-map{:style => 'width: 100%; height: 400px;text-align:center;'}
      %a{:href => 'https://goo.gl/maps/iGrng2PVECJ2'}
        %img{:src => '/assets/googlemapofnaples-min.png', :style => 'width:100%;text-align:center;'}
  / End Google Map
/ contact end
/ footer start
%footer.footer
  .container
    .row.clearfix
      .col-md-5.margin-b-30.text-white
        Copyright &copy;
        =Time.now.year
        Massa Designs. All Rights Reserved.
      / copyright col
      .col-md-7.text-right
        %ul.list-inline.margin-b-30
          %li.list-inline-item
            %a{:href => "#"} Home
          %li.list-inline-item
            %a{:href => "#agency"} About
          %li.list-inline-item
            %a{:href => "#services"} Services
          %li.list-inline-item
            %a{:href => "#contact"} Book an Appointment
          %li.list-inline-item
            %a{:href => "#work"} Portfolio
          %li.list-inline-item
            %a{:href => "#contact"} Contact
          %li.list-inline-item
            %a{:href => "/users"} Sign In
      / footer nav col
    / row
  / container
/ footer end
/ modal of video
#video-popup.modal.video-modal.fade{"aria-labelledby" => "video-popup", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span.ion-close{"aria-hidden" => "true"}
      .modal-body
        .embed-responsive.embed-responsive-16by9
          %iframe{:allow => "encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "630", :src => "https://www.youtube.com/embed/cGPtnumayUk", :width => "1120"}

%a.scrollToTop{:href => "#"}
  %i.ion-android-arrow-dropup-circle


= render :partial => 'shared/visitors_footer'
%script{:src => 'https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js'}
%script{:src => '/assets/visitor_index.js'}
:javascript
  $("#virtualstaging1").imagesLoaded( function() { $('#virtualstaging1').twentytwenty(); });
  $("#virtualstaging2").imagesLoaded( function() { $('#virtualstaging2').twentytwenty(); });
  $("#virtualstaging3").imagesLoaded( function() { $('#virtualstaging3').twentytwenty(); });
  $("#virtualstaging4").imagesLoaded( function() { $('#virtualstaging4').twentytwenty(); });
  $("#virtualstaging5").imagesLoaded( function() { $('#virtualstaging5').twentytwenty(); });
  $("#virtualstaging6").imagesLoaded( function() { $('#virtualstaging6').twentytwenty(); });
  $("#virtualstaging7").imagesLoaded( function() { $('#virtualstaging7').twentytwenty(); });
  $("#virtualstaging8").imagesLoaded( function() { $('#virtualstaging8').twentytwenty(); });