!!!
<html lang='en'>
%head
  %meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
  %meta{:charset => 'utf-8'}/
  %meta{:content => 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}/
  %meta{:content => 'width=device-width, initial-scale=1', :name => 'viewport'}/
  %title Massa Designs - Naples, Marco Island, Bonita Springs Ft Myers SWFL Photography Drone Aerial Photographs Video Tours
  / plugins
  %link{:href => '/assets/visitors/ionicons.min.css', :rel => 'stylesheet'}/
  %link{:href => '/assets/visitors/bootstrap.min.css', :rel => 'stylesheet'}/
  %link{:href => '/assets/visitors/flexslider.css', :rel => 'stylesheet'}/
  %link{:href => '/assets/visitors/cubeportfolio.min.css', :rel => 'stylesheet', :type => 'text/css'}/
  %link{:href => '/assets/visitors/dzsparallaxer.css', :rel => 'stylesheet', :type => 'text/css'}/
  %link{:href => '/assets/visitors/jquery.fancybox.css', :rel => 'stylesheet', :type => 'text/css'}/
  -#%link{:href => '/stylesheets/visitors/foundation.css', :rel => 'stylesheet', :type => 'text/css'}/
  %link{:href => '/assets/visitors/twentytwenty-no-compass.css', :rel => 'stylesheet', :type => 'text/css'}/
  %link{:href => '/assets/visitors/twentytwenty.css', :rel => 'stylesheet', :type => 'text/css'}/
  / main css file
  %link{:href => '/assets/visitors/style.css', :rel => 'stylesheet'}/

  /[if lt IE 9]
    <script src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js'></script>
    <script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js'></script>

  %meta{:content => 'Massa Designs - Naples, Marco Island, Bonita Springs Ft Myers SWFL Photography Drone Aerial Photographs Video Tours', :name => 'description'}/
  %meta{:content => 'Massa Designs - Naples, Marco Island, Bonita Springs Ft Myers SWFL Photography Drone Aerial Photographs Video Tours', :name => 'keywords'}/
  %meta{:content => 'INDEX,FOLLOW', :name => 'robots'}/

<body data-spy='scroll'>
#preloader
  #preloader-inner

%nav.navbar.navbar-toggleable-sm.fixed-top.transparent-nav.navbar-inverse.bg-inverse
  #nav-container.container{:style => 'padding: 15px 0;'}
    %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    %a.navbar-brand{:href => '/', :style => 'font-size: xx-large;'}
      %img{:alt => 'Massa Designs logo', :src => '/assets/massa_designs_logo.png', :style => 'width:250px;'}
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto.scroll-to
        %li.nav-item
          %a.nav-link.active{"data-scroll" => "data-scroll", :href => "#home"} Home
        %li.dropdown.nav-item
          %span.dropdown-toggle.menu-drop-toggle.nav-link{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :role => "button"} Services
          %ul.dropdown-menu.dropdown-menu-right
            %li
              %a.dropdown-item{"data-scroll" => "data-scroll", :href => "#agency"} About Us
            %li
              %a.dropdown-item{:href => '#services'} Graphic Design
            %li
              %a.dropdown-item{:href => '#virtual-staging'} 3D Virtual Staging
            %li
              %a.dropdown-item{:href => '#services'} Aerial Photography
            %li
              %a.dropdown-item{:href => '#services'} Video Walk-through
        %li.nav-item
          %a.nav-link{"data-scroll" => "data-scroll", :href => "#contact", :style => 'color:#fff;'} Book an Appointment
        %li.nav-item
          %a.nav-link{"data-scroll" => "data-scroll", :href => "#work"} Portfolio
        %li.nav-item
          %a.nav-link{"data-scroll" => "data-scroll", :href => "#contact"} Contact
        %li.nav-item
          %a.nav-link{"data-scroll" => "data-scroll", :href => "/users"} Sign In
